<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hai World</title>
    <!-- <script src="tugas_js.js"></script> -->
    <!-- <script src="es6.js"></script> -->
    <style>
        button {
                border: none;
                color: black;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                }
    </style>
</head>
<body>
    <div id="app">
        {{nama + " Tirtana "}}
        {{nama}} -- {{umur}}
        <div v-if="show == 'ready'" v-html="raw"></div>
        <p v-else="show" > {{massage}} </p>
        <p>Umur {{nama}} lima tahun lagi pake computed adalah {{sum}}</p> 
        <p>Umur {{nama}} dikali lima adalah {{kali}}</p> 
        <p>Umur {{nama}} lima tahun lagi tapi pake method adalah {{hasil}}</p>
        <button v-on:click="jumlah(5)" >Klik aku!</button>
        <br>
        <input type="number" v-model="kilometers">
        <input type="number" v-model="meters">
        <br><br>
        <textarea v-model="textarea" cols="30" rows="10"></textarea>
        <p style="white-space:pre-line;">{{textarea}}</p>
        <!-- untuk menambahkan tag html menggunakan v-html -->
        <!-- untuk if else gunakan v-if -->
        <!-- untuk vmodel text area gunakan style with-space pre-line untuk mendapatkan baris baru u/ stiap white space yang ada -->

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="vuecoba.js"></script>
</body>
</html>