<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 2</title>
</head>
<body>
    <div id="container">
    <input type="text" v-model = "nama" >
    <button v-if="status" @click="tambahNama()">Add</button>
    <button v-else="status" @click="updateNama()">Update</button>
    <ul v-for="(user,index) in users">
        <li>{{user.name}} ||
            <button @click="editBtn(user.name,index)">Edit </button> ||
            <button @click="hapusBtn(user.name)">Hapus</button>
        </li>
        
        
    </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="quiz2.js"></script>
</body>
</html>