<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Tugas</title>
</head>
<body>
    <div id="container">
        <div v-for="value in komentar">
            <button @click="tambah(value.id)"  >+</button>
            
            <p>{{value.content}} || {{value.date}} || Score : {{value.score}}</p>
            <button @click="kurang(value.id)" >-</button>
            
        </div>
        <textarea @keyup.enter="printKomentar" v-model='content' cols="30" rows="10"></textarea>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="vuetugas.js"></script>
</body>
</html>